.tableContainer {
    width: 95%;

    ul {
        list-style-type: none;
        // display: flex;
        // justify-content: center;
        align-items: center;
        margin: 0 auto;
        justify-items: center;

    }

    li {
        min-width: 32px;
        align-self: center;
        justify-self: center;
        justify-items: center;

        button {
            background: none;
            border: none;
        }
    }
}

.tableButton {
    text-decoration: none !important;

    // color: green;
    &:hover {
        color: whitesmoke;
    }
}

.updateButton {

    // background-color: red;
    // transition: all 1s;
    .ant-btn-text {
        &:hover {
            background-color: red;
            border-color: pink;
            color: pink
        }
    }

    &:hover {
        background-color: #3fa9bc !important;
        // border-color: pink;
        color: white !important;
        // transition: 
    }
}