.label {
    display: inline-block;
    margin-left: 2rem;
    text-align: right;
    margin-right: 2rem;
    min-width: 60px;
    font-weight: 600;
}

.completeButton {
    background-color: #3fa9bc !important;
    color: white;
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.route {
    margin-left: 2rem;
}

.directions {
    margin-left: 1rem;
}